:root{
--White: hsl(0, 0%, 100%);
--Very-light-grayish-blue: hsl(210, 60%, 98%);
--Light-grayish-blue-1: hsl(211, 68%, 94%);
--Light-grayish-blue-2: hsl(205, 33%, 90%);
--Grayish-blue: hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);
}


@font-face {
    font-family: 'Plus Jakarta';
    src: url('../fonts/PlusJakartaSans-VariableFont_wght.ttf');
  }

body{
    font-family: 'Plus Jakarta';
    text-align: justify;
    background-color: var(--Very-light-grayish-blue);
}

.container{
    background-color: #fff;
    width: 80vw;
    margin: 10px;
    border-radius: 15px;
    padding: 20px;
    margin: 0 auto;
}

.top-container{
    display: inline-flex;
    width: 100vw;
}

.title-notification h3{
    font-size: 1.3em;
}

.number-notification{
    background-color: rgb(18, 10, 255);
    width: 20px;
    height: 25px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    display: flex;
    align-items: center;
    
}

